header{
  padding: 10px 0 0 0;
  background-color: rgba(255,255,255,.5);
  box-shadow: 0 0 10px rgba(0,0,0,.15);
  transition: .3s;
}
header:hover{
  background-color: rgba(255,255,255,.6);
  box-shadow: 0 0 0 rgba(0,0,0,.15);
}
