.content{
  width: 880px;
  padding: 20px;
  background-color: rgba(255,255,255,.5);
  box-shadow: 0 0 10px rgba(0,0,0,.15);
  float: right;
  transition: .3s;
}
.content:hover{
  background-color: rgba(255,255,255,.6);
  box-shadow: 0 0 0 rgba(0,0,0,.15);
}
